<!DOCTYPE HTML>
<html>
 <head>
  <title> Chatbot console </title>
  <style>

  .bgimg-1 {

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("nitk-1.png");
 
}
  </style>
 </head>
 
 <body class="bgimg-2" bgcolor="LightSlateGray"> 
<!-- Work Section -->
     <div id="work">
       <iframe  width="1000" height="700" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/67506c94-8fdd-4645-ac42-a26645b8df60"></iframe>

     </div>
	</div>
	
 </body>

</html>